.post-list-item {
  margin-top: 32px;
}

.post-list-item-date, .post-date {
  color: var(--primary);
  font-size: small;
}

.post-date {
  text-align: center;
}

.post-list-item-abstract {
  margin-top: 4px;
  text-align: justify;
}

.post-content {
  margin-top: 32px;
  text-align: justify;
}

.post-subtitle {
  margin: 16px 0px 0px;
  text-transform: capitalize;
}

.post-paragraph {
  margin: 16px 0px 0px;
}

code {
  border-radius: 25px;
  background-color: var(--secondary);
  padding: 1px 4px;
  font-size: small;
}

.post-image {
 display: block;
 width: 95%;
 margin: 16px auto;
}

.post-ul {
  list-style-position: inside;
  margin: 8px 0px 0px 16px;
}
