<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 

  <link href="/css/index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">

  <title>blog.melo.plus</title>
</head> 
<body> 
  <aside>
    <section id="home">
      <a a href="{{ '/' | url }}">Home<a>
    </section>
    <section id="tags">a lot of tags</section>
    <section id="me">
      <h2>Hi! Me name is João Melo</h2>
      <p>I write because...</p>
      <p>You can find me in Twitter, GitHub and LinkedIn</p>
    </section>
  </aside> 
  <main> 
    {{ content | safe }}
  </main> 
</body> 
</html>