{%- macro link(text, href, target='_self') -%}
  <a href="{{ href | url }}" target="{{ target }}">{{ text }}</a>
{%- endmacro -%}

{%- macro tag(tag) -%}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="content-tag">{{ tag }}</a>
{%- endmacro -%}
