{% macro postList(posts) %}

{% for post in posts %}
  <article class="post-list-item">
    <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
    <p class="post-list-item-abstract">{{post.data.abstract}}</p>
  </article>
{% endfor %}

{% endmacro %}

