/* layout */
.header { grid-area: header; }
.content { grid-area: content; }
.sidebar { grid-area: sidebar; }

.container {
  display: grid;
  grid-gap: 10px 50px;
  grid-template-areas: 
    "header"
    "content"
    "sidebar";
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "sidebar content";
  }
}

/* global styles */

html {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* specific styles */

.header { 
  text-align: center; 
}
