---
layout: page-layout.njk
---
{% from 'page-title.njk' import pageTitle %}

<article>
  {{ pageTitle(title) }}
  <p class="text-xs text-center"><time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time></p>
  <div class="mt-4 text-justify">
  {{ content | safe }}
  </div>
</article>