---
layout: page-layout.njk
---
{% from 'page-title.njk' import pageTitle %}

<div>
  {{ pageTitle(title) }}
  <p class="post-date"><time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time></p>
  <p>{{ cover }}</p>
  <article class="post-content">
    {{ content | safe }}
  </article>
</div>