---
layout: page-layout.njk
pagination:
  data: collections.featured
  size: 10
  reverse: true
  alias: featured
---
{% from 'page-title.njk' import pageTitle %}
{% from 'post-list.njk' import postList %}

{{ pageTitle('Featured Posts') }}

{{ postList(featured) }}