---
layout: page-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
{% from 'page-title.njk' import pageTitle %}
{% from 'post-list.njk' import postList %}

{{ pageTitle('latest posts') }}

{{ postList(posts) }}