---
layout: base-layout.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
{% from 'post-list.njk' import postList %}
{% from 'page-title.njk' import pageTitle %}

{{ pageTitle(tag + ' posts') }}

{% set posts = collections[ tag ] %}
{{ postList(posts) }}